<!DOCTYPE html>
<html lang="en">

<head>
<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
   
    <section class="pt-0 pt-lg-5 " style="background-color: #fff !important;">
        <div class="container position-relative">
          
    
            <div class="row">
                <div class="col-12">
                    <div class="bg-info p-4 p-sm-5 rounded-3">
                        <div class="row position-relative">
                            <!-- Svg decoration -->
                            
                            <!-- Action box -->
                            <div class="col-11 mx-auto position-relative">
                                <form action="/sms/send" method="post">
                                    <div class="row align-items-center">
    
                                        <!-- Title -->
                                        <div class="col-lg-7">
                                            <h3 class="text-white">Send An SMS</h3>
                                            <p class="text-white mb-3 mb-lg-0">Speedily say has suitable disposal
                                                add boy. On forth doubt miles of child. Exercise joy man children
                                                rejoiced. Yet uncommonly his ten who diminution astonished. ~ Unknown</p>
                                        </div>
                                        <div class="col-lg-6  position-relative">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1"></label>
                                                <input type="tel" class="form-control form-control-sm shadow"
                                                    id="exampleInputEmail1" aria-describedby="emailHelp"
                                                    placeholder="Enter Phone Number...(Must Include +254..)" name="contact" required>
    
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="exampleInputPassword1"></label>
                                                <textarea name="msgBody" cols="30" rows="4" id="exampleInputPassword1"
                                                 class="form-control form-control-sm shadow" placeholder="Message Body..." required></textarea>
                                             
                                            </div>
                                          
                                        </div>
    
                                        <!-- Content and input -->
                                        <div class="col-lg-5 text-lg-end mt-2">
                                            <button type="submit"
                                                class="btn btn-outline-warning mb-0">Send</button>
                                        </div>
    
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Row END -->
                    </div>
                </div>
            </div>
            <!-- Row END -->
        </div>
    </section>
	</body>
	</html>
	

